[build]
      publish = "public"
[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin="*"
    Access-Control-Allow-Methods="GET,POST,PUT,DELETE,OPTIONS"
    Access-Control-Allow-headers="Content-Type,Authorization,X-Requested-With"
 